{% set page_title = "Sign up" %}
{% extends "@app/views/layouts/main.twig" %}

{% block content %}

{{ use('yii/widgets/ActiveForm') }}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="">
            <div class="panel-heading">
                <h3 class="panel-title">{{ page_title }}</h3>
            </div>
            <div class="panel-body">
				{% set form = active_form_begin({
					'id' : 'registration-form',
					'enableAjaxValidation'   : true,
                    'enableClientValidation' : false,
				}) %}

                {{ form.field(model, 'email') | raw }}

				{{ form.field(model, 'username') | raw }}

				{% if module.enableGeneratingPassword == false %}
                    {{ form.field(model, 'password').passwordInput() | raw }}
                {% endif %}

                {{ html.submitButton('Sign up', {'class' : 'btn btn-success btn-block'}) | raw }}

                {{ active_form_end() }}
            </div>
        </div>
        <p class="text-center">
            {{ html.a('Already registered? Sign in!', '/user/security/login') | raw }}
        </p>
    </div>
</div>

{% endblock %}