
<a href="{{app.params.basePath}}/post/{{post.id}}"
   class="thumb"
   style="background-image: url('{{app.params.basePath}}/{{app.params.content_path}}thumb/{{post.thumb}}')">
	<i class="post-type-{{post.type}}"></i>
</a>
