<div>
	<h2>
		<a href="{{app.params.basePath}}/profile/{{user.username}}">
		{{user.username}}
		</a>
		<small style="float:right;font-size:0.4em;margin-top:10px;">{{user.username}} has posted {{post_count}} posts, faved {{fave_count}} items</small>
	</h2>
</div>
